* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: linear-gradient(
        135deg,
        #020617,
        #0f172a,
        #1e293b
    );

    font-family: Arial, sans-serif;

    color: white;

    overflow: hidden;
}


/* INTRO SCREEN */

#intro {

    height: 100vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;
}

.logo {

    font-size: 72px;

    font-weight: bold;

    color: #38bdf8;

    text-shadow:
        0 0 10px #38bdf8,
        0 0 20px #38bdf8,
        0 0 40px #38bdf8;

    animation:
        pulse 2s infinite,
        slideDown 1.5s ease;
}

.tagline {

    margin-top: 20px;

    font-size: 20px;

    color: #cbd5e1;

    opacity: 0;

    animation:
        fadeIn 2s ease forwards;

    animation-delay: 1s;
}


/* LOADER */

.loader {

    margin-top: 40px;

    width: 60px;

    height: 60px;

    border: 5px solid #334155;

    border-top: 5px solid #38bdf8;

    border-radius: 50%;

    animation: spin 1s linear infinite;
}


/* MAIN APP */

.container {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;

    width: 100%;
}

.hidden {

    display: none;
}

.subtitle {

    color: #94a3b8;

    margin-top: 10px;

    margin-bottom: 30px;
}

input {

    padding: 14px;

    width: 280px;

    border: none;

    border-radius: 10px;

    outline: none;

    font-size: 16px;
}

button {

    padding: 14px 24px;

    border: none;

    border-radius: 10px;

    background-color: #0ea5e9;

    color: white;

    font-size: 16px;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {

    transform: scale(1.05);

    background-color: #0284c7;
}


/* ANIMATIONS */

@keyframes pulse {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes spin {

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {

    to {
        opacity: 1;
    }
}

@keyframes slideDown {

    from {
        transform: translateY(-80px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
li {

    background: rgba(255, 255, 255, 0.08);

    backdrop-filter: blur(10px);

    margin: 15px auto;

    padding: 18px;

    width: 350px;

    border-radius: 14px;

    list-style: none;

    font-size: 18px;

    transition: 0.3s;

    animation: fadeTask 0.5s ease;
}

li:hover {

    transform: scale(1.03);

    background: rgba(255, 255, 255, 0.12);
}


@keyframes fadeTask {

    from {

        opacity: 0;

        transform: translateY(20px);
    }

    to {

        opacity: 1;

        transform: translateY(0);
    }
}
