/* style.css */

body{
margin:0;
font-family:Arial,sans-serif;
background:#061529;
color:white;
}

#loader{
position:fixed;
inset:0;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:#061529;
z-index:1000;
}

#loader h1{
font-size:60px;
color:#33bbff;
text-shadow:0 0 20px #33bbff;
}

.spinner{
width:60px;
height:60px;
border:5px solid #1f3552;
border-top:5px solid #33bbff;
border-radius:50%;
animation:spin 1s linear infinite;
margin-top:20px;
}

@keyframes spin{
100%{
transform:rotate(360deg);
}
}

.modal{
position:fixed;
inset:0;
display:none;
justify-content:center;
align-items:center;
background:rgba(0,0,0,0.8);
z-index:999;
}

.box{
background:#102542;
padding:30px;
border-radius:20px;
width:320px;
display:flex;
flex-direction:column;
gap:15px;
}

input,
button{
padding:12px;
border:none;
border-radius:10px;
}

button{
background:#33bbff;
color:white;
font-weight:bold;
cursor:pointer;
}

#app{
display:none;
padding:20px;
}

header{
text-align:center;
}

header h1{
font-size:55px;
color:#33bbff;
}

.xp{
margin:20px auto;
width:200px;
padding:15px;
background:#102542;
border-radius:15px;
text-align:center;
font-size:24px;
}

.board{
display:flex;
justify-content:center;
align-items:center;
gap:20px;
flex-wrap:wrap;
margin-top:30px;
}

.teddy{
font-size:90px;
}

.taskBox{
background:#102542;
padding:20px;
border-radius:20px;
display:flex;
flex-direction:column;
gap:10px;
}

#taskContainer{
max-width:800px;
margin:40px auto;
}

.task{
background:#102542;
padding:20px;
border-radius:15px;
margin-bottom:20px;
}

.finished{
border:2px solid lime;
}

.unfinished{
border:2px solid red;
}

.progress{
height:10px;
background:#223a58;
border-radius:10px;
overflow:hidden;
margin-top:10px;
}

.fill{
height:100%;
width:0%;
background:#33bbff;
}

.submitBtn{
margin-top:15px;
width:100%;
}

@media(max-width:768px){

header h1{
font-size:40px;
}

#loader h1{
font-size:40px;
}

.teddy{
font-size:70px;
}

.box{
width:90%;
}

}
